.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.loader {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
}
